<input (keyup)="applyFiltering('all', $event.target.value)" />

<div class="table">
    <div class="row thead">
        <div class="th item" *ngFor="let item of menu">
           {{item}}
           <div><input (keyup)="applyFiltering(item, $event.target.value)" /></div>
        </div>
    </div>

    <div class="row tr" *ngFor="let item of data | filter:filteredStatus">
        <div class="td item">
            {{item.position}}
        </div>
        <div class="td item">
            {{item.name}}
        </div>
        <div class="td item">
            {{item.weight}}
        </div>
        <div class="td item">
            {{item.symbol}}
        </div>
    </div>
</div>
